<div class="mat-app-background">
  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" [fixedInViewport]="true">
      <app-lists></app-lists>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span>Tasks list</span>
        <span class="example-spacer"></span>
        <a mat-icon-button routerLink="/home"><mat-icon>home</mat-icon></a>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
